*{
    margin: 0;
}
.banner{
    display: flex;
    gap: 5px;
    height: 15vh;
}
.fbClass{
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(58, 219, 165, 0.87);
}
.fblogo{
    width:50px;

    background-color: rgba(58, 219, 165, 0.87);
}
.bannerHeading{
    width: 70%;
    background-color:rgba(58, 219, 165, 0.87);
    display: flex;
    justify-content: center;
    align-items: center;
}
.bannerdate{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:7px;
    color: white;
    background-color:rgba(58, 219, 165, 0.87);
}
.bannerdate .dateInput::placeholder{
    padding: 5px;
    
    
  
}
.navigation{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    column-gap: 3px;
    margin-top: 3px;
}
.navigation>div{
    background-color: purple;
    height:33px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.navigation>div>a{
    color:white;
    text-decoration: none;
    font-weight: bold;
}
